<h1>Rutas y Lazyload App</h1>
<ul>
  <li>
    <a routerLink="auth/login">Login</a>
  </li>
  <li>
    <a routerLink="auth/registro">Registro</a>
  </li> 
  <li>
    <a routerLink="auth/forgot">Forgot</a>
  </li>
</ul>

<ul>
   <li>
     <a routerLink="productos/agregar">Agregar</a>
   </li>
   <li>
     <a routerLink="productos/editar">Editar</a>
   </li>
   <li>
     <a routerLink="productos/listado">Listado</a>
   </li>
   <li>
     <a routerLink="productos/producto">Producto</a>
   </li>
  </ul>
  
<router-outlet></router-outlet>

