<div *ngIf="usuario"> <!--Valida la informacion de un JS si existe-->
  <p>
   <b>Genero:</b> {{ usuario.gender }}
   <br>
   <b>Nombre:</b> {{ usuario.name['title'] }} {{ usuario.name['first'] }} {{ usuario.name['last'] }}
  </p>
</div>
  

<div>
  <h2>Operador Map</h2>
  <button type="button" class="boton" (click)="showFemale()">Femenino</button>
  
  <div *ngIf="femenino">
  <p>
     <b>Genero:</b> {{ usuario2.gender }}
     <br>
     <b>Nombre:</b> {{ usuario2.name['title'] }} {{ usuario2.name['first'] }} {{ usuario2.name['last'] }}
  </p>
  </div>
</div>
  
<div>
  <button type="button" class="boton" (click)="Pais()">Pais</button>

<div *ngIf="paiscanada">
  <p>
    <b>Pais:</b> {{ usuario.location["country"] }} 
 </p> 
</div>

</div>

<div>
  <button type="button" class="boton" (click)="MostrarElementos()">Mostrar Elementos</button>
</div>


<div>
   <button type="button" class="boton" (click)="MostrarFoto()">Mostrar Foto</button>
   <div *ngIf="usuario3">
   <p>
   <b>Nombre:</b> {{ usuario3.name['title'] }} {{ usuario3.name['first'] }} {{ usuario3.name['last'] }}
   </p>
    <p>
   <b>Foto:</b>
   <br>
   <img [src]="usuario3['picture'].large" alt="persona">
   </p>
   </div>
</div>


<div>
  <button type="button" class="boton" (click)="MostrarDatosPersonales()">Mostrar Datos Personales</button>
  <div *ngIf="usuario4">
  <p>
    <b>Nombre:</b> {{ usuario4.name['title'] }} {{ usuario4.name['first'] }} {{ usuario4.name['last'] }}
  </p>
  <p>
    <b>Foto:</b>
  <br>
    <img [src]="usuario4['picture'].large" alt="persona"> 
    <img [src]="usuario4['picture'].medium" alt="persona"> 
    <img [src]="usuario4['picture'].thumbnail" alt="persona"> 
  </p>
  <br>
  <p>
    <b>Correo:</b> {{ usuario4.email }}
  </p>
  <br>
  <p>
    <b>Username:</b> {{ usuario4.login["username"] }}
  </p>
  <br>
  <p>
    <b>Password:</b> {{ usuario4.login["password"] }}
  </p>

  </div>

</div>
  
<!--nombre apellido 3 fotos correo nombre de usuario contraseña--> 
  